*,
body,
nav {
    background-color: white;
    font-family: "Noto Sans Mono", monospace;
}

/* NAVBAR */


.navbar-nav {
    display: flex;
    background-color: white;
    font-family: "Noto Sans Mono", monospace;
   
}

.navbar-brand {
    font-family: franklin-gothic-atf, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 2rem;
    font-style: italic;
    color: #025ca6;

}


hr {
    border-color: #025ca6;
    border-width: 2px;
    width: 85%;
    margin: 0 auto;
}

p {
    font-size: 12px;
    text-align: left;
    margin: 25px;
}

#msn {
    width: 8%;
    padding-bottom: 10px;
}

#fiesta,
#boda,
#gente,
#calle,
#hardcore,
#about,
#inicio,
#azar,
#fotos {
    width: 30px;
}

.nav-link,
.dropdown-item {
    color: #025ca6;
}

.nav-link {
    display: inline;
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    color: transparent

}

#plus {
    width: 40px;
    height: 40px;
    object-fit: contain;
    color: solid #025ca6;

}

#remove {
    display: none;
    width: 150%;
    height: 150%;
    object-fit: contain;
    color: solid #025ca6;
    size: 50px;
}

.d-flex.justify-content-between {
    flex-grow: 1;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.container-fluid {
    display: flex;
    justify-content: flex-start;
}
/* BODY */

/*ESPACIO EN BLANCO*/
#espacio-en-blanco {
    height: 400px;
}

/* Estilo normal de la imagen */
#tqm {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
    position: absolute; bottom: 0; right: 0; 
    margin-right: 100px;

}

/* Estilo al pasar el cursor (hover) */
#tqm:hover {
    background-color: rgba(0, 0, 0, 0.4);
    content: url('https://64.media.tumblr.com/91f713d5a66fe1aa5e8d236e6c0c97a9/e4f1f7725a507e7c-19/s1280x1920/8f760f8b30bfc4d3a56b9a647740460fb6a5ae91.jpg');
    transform: scale(3);
}


.conteiner {
    align-items: end;

}

/* GALERIA PAGINA FIESTAS */

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.col {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(100%);
    transition: all .3s ease;
    position: relative;
}

.col img:hover {
    cursor: pointer;
    filter: grayscale(0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    z-index: 100;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    transition: all .7s ease;
    visibility: hidden;
    opacity: 0%;
}

.overlay .slideshow {
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
}

.slideshow img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn_cerrar {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all .2s ease;
}

.btn_cerrar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #025ca6;
}

.btn:hover>span {
    transform: scale(1.1);
    transition: all .2s ease;
}

.btn_atras {
    left: 20px;
}

.btn_adelante {
    right: 20px;
}

.material-symbols-outlined {
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }

    .btn {
        font-size: 55px;
    }

    .btn_atras {
        left: 5px;
    }

    .btn_adelante {
        right: 5px;
    }

    .slideshow img {
        width: 98%;
    }
}

@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

/* CONTACTO*/

.about{
    padding-left: 2%;
    width: 45%;
    text-align: justify;
}
.contact {
    min-height: 100vh;
    padding: 50px;
    text-align: justify;
}

.conteiner-contact {
    max-width: 600px;
    margin: 0 auto;
}

.container-contact h3 {
    display: inline-block;
    color: #025ca6;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 550;
}

.info {
    text-decoration: underline;
}

.info a {
    color: black;
}
.contact-wrapper {
    justify-content: space-between;
    margin-top: 10px;
}

.contact-form {
    width: 40%;
}

.contact-info {
    width: 40%;
}

.contact-info h6 {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: #ccd8f0;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #025ca6;
    color: #ccd8f0;
    border: none;
    transition: opacity 0.3s ease; 
}

button[type="submit"]:hover {
    opacity: 0.4; 
}

.contact-info h4 {
    display: inline-block;
    color: #025ca6;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 500;
    justify-content: left;
}

.contact-info { 
    display: block;
   
}
.contact-info a {
    margin: 0;
    font-size: 15px;
    line-height: 2;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
    .navbar {
        flex-wrap: nowrap;
    }
    .navbar-toggler {
        width: 50px;
        height: 50px;
        padding: 0;
    }
 
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-wrapper {
        flex-direction: column;
    }
    .contact-form,
    .contact-info {
        width: 100%;
    }




   .nav-item {
        width: 100%;
    }
}